@model TradeHubApp.Models.Advertisement
@{
    ViewData["Title"] = "Edit Advertisement";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <!-- Добавьте дополнительные поля по необходимости -->
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
